---
layout: default
---

{%- if page.detail_image -%}
  <img class="home_header" src="{{ page.detail_image }}">

{%- endif -%}

{{ content }}
<ul>
  {% assign lastpost = site.posts | last %}

  {% for post in site.posts %}

    {% if post.category == "blog" %}
      <div class="post-viewer">
        <div class="post-content">
          <a href="{{ post.permalink }}">
            <span><font size=4>{{post.title}}</font></span>
		  </a>
          <br>

		  {% assign date_split = post.date | split: " " %}
		  <i>
		    created: {{ date_split[0] }}
		  </i>
		  <br>
		  tags:

		  {% for tag in post.tags %}
		    <a href="/tags/{{ tag }}">
		      <code>
			    <nobr>{{ tag }}</nobr>
		      </code>
		    </a>
		    &nbsp;

		  {% endfor %}

		  <br>
		  <br>

          <div class="post-desc">{{post.description}}</div>

        </div>
        <div class="post-thumbnail">
          <a href="{{ post.permalink }}">
            <img class="thumbnail"; src="{{ post.detail_image }}">
          </a>
        </div>
      </div>
    {% endif %}

    {% if post == lastpost %}

      {% break %}

    {% endif %}

	<hr>

  {% endfor %}

</ul>
